.wrapper {
    padding: 1rem 2rem;
    display: flex;
    /* flex-direction: column; */
}

h1 {
    color: tomato;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: white;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    margin: 0 1rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    margin: 0.5rem 0;
    display: block;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 20rem;
    height: auto;
    filter:grayscale(1);
    transition: all 0.5s ease-in 0s;
    display: block;
}

img:hover {
    filter:grayscale(0);
}

figcaption {
    margin: 0.5rem 0;
    width: 20rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

p,
label {
    font-family: Arial, Helvetica, sans-serif;
}

input{
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
}

ul {
    list-style: none;
    display: flex;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: 1px solid hsl(225, 73%, 57%);
    background: hsl(225, 73%, 57%);
    color: white;
}

button:hover,
button:active {
    background: white;
    color: hsl(225, 73%, 57%);
    cursor: pointer;
}

.results {
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    /* width: 60%; */
    /* height: 60vh; */
    /* padding: 1rem; */
    /* margin-left: 3rem; */
    /* overflow-y:scroll; */
}

.current-tags {
    font: italic 0.7rem sans-serif;
    margin: 1em 0;
}

div {
    margin: 1rem;
    padding: 1rem 1.5rem;
    border: 1px dashed hsla(225, 73%, 57%, 0.736);
    border-radius: 0.2rem;
    background: lavender;
    transition: box-shadow 0.3s ease-in 0.1s;

    display: flex;
    flex-direction: column;
    text-align: left;
}

div:hover {
    box-shadow:0.5rem 0.5rem 1rem hsla(225, 73%, 57%, 0.171);
}

.data-updates {
    display: flex;
    flex-direction: column;
}

.data-updates > * {
    padding: 2rem;
}

.update {
    padding: 2rem;
    flex-direction: column;
    background: lavenderblush;
}

.update > * {
    margin: 0.5rem 0;
}

/* STRUCTURE */

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: hsl(225, 84%, 19%);
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    z-index:1;
}

nav h1:hover {
    cursor: pointer;
}

nav button {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin: 0 1rem;
}


/* EFFECT */
/* keep last for safety */
.hidden {
    display: none;
}

/* media queries */

@media screen and (max-width:913px){

}

@media screen and (max-width:840px){

    * {
        box-sizing: border-box;
    }

    nav {
        flex-wrap: wrap;
    }

    nav h1 {
        display: block;
    }
    h2 {
        display: none;
    }

    nav ul {
        margin: 1rem 0;
        padding: 0;
    }
    nav li {
        margin: 0 0.5rem 0 0;
    }
    nav button {
        margin: 0;
    }
    
    .wrapper {
        flex-direction: column;
        padding: 0;
    }

    div {
        width: 100%;
        padding: 0;
        align-items: center;
        text-align: center;
    }

    img {
        max-width: 100%;
    }
    figcaption {
        max-width: 90%;
    }

    .update {
        padding: 1rem;
    }
}